:root {
    --base: #E7EFC7;
    --primario: #8A784E;
    --secundario: #AEC8A4;
    --terciario: #3B3B1A;
}

html {
    font-family: monospace;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--base);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



/**NAV BAR**/
.nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--secundario);
    z-index: 1000;
}

.nav-bar_a {
    text-decoration: none;
    color: var(--primario);
    font-size: 3rem;
    padding: 1rem 0;
}

.nav-bar_a:hover{
    color: var(--base);
}

.current {
    font-weight: bold;
    text-transform: uppercase;
}




/** LOGO DE ARRIBA DE LAS PÁGINAS **/
/** LOGO DE ARRIBA **/
.logo-up {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 6rem;
}

.logo-up_catalog {
    position: relative;
}

.logo-up_logo {
    display: block;
    height: 100%;
    padding: 1rem;
}

.logo-up_text {
    display: block;
    font-size: 1.5rem;
}

.logo-up_text-catalog {
    color: #aaa;
}




/**PARA PROBAR SCROLL **/
.scroll {
    height: 200rem;
}


/*SE TRABAJA CON MODELO COMPUTADORA. LAS MEDIA QUERIES SON PARA CELULAR Y TABLET*/










/** MEDIA QUERIES **/