/*SE TRABAJA CON MODELO COMPUTADORA. LAS MEDIA QUERIES SON PARA CELULAR Y TABLET*/


/** COMPONENTES **/
.cuadro-venta {

}


/**CLASES **/


/** TÍTULO Y LOGO **/
.titulo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.titulo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* capa oscura */
        url('../IMG/Pin en Man style.jpg');
    background-position: center;
    background-size:cover;
    opacity: 0.9;
    z-index: -1;
}

.logo-header {
    max-width: min(60rem, 30vw);
    margin: 10rem;
}

.brand-title {
    color: var(--base);
    font-size: min(30rem, 10vw);
}



/** LOGO DE ARRIBA **/
.logo-up {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 6rem;
}

.logo-up_logo {
    display: block;
    height: 100%;
    padding: 1rem;
}

.logo-up_text {
    display: block;
    font-size: 1.5rem;
}




/** BARRA DE BÚSQUEDA **/
.search-bar {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.search-bar_button {
    margin-left: 1rem;
    background-color: var(--secundario);
    width: min(200px, 30%);
    padding: 1rem;
    color: var(--primario);
    font-size: 2rem;
    font-weight: bold;
    border: none;
    box-shadow: 6px 6px 8px black;
    border-radius: 0.5rem;
}

.search-bar_bar {
    width: 500px;
    padding: 1rem;
}


/** para probar el scroll **/
.scroll {
    height: 200rem;
}




/** CARRUSEL **/
.carousel {
    padding: 2rem;
    background-color: var(--secundario);
    color: var(--primario);
}

.carousel-wrapper {
    display: flex;
    overflow-x: auto;       /* habilita scroll horizontal */
    scroll-snap-type: x mandatory; /* que “snapee” cada item */
    -webkit-overflow-scrolling: touch; /* smooth en iOS */
    gap: 1rem;              /* separación entre items */
    padding-bottom: 1rem;
}

.carousel-item {
    flex: 0 0 auto;          /* que no se encoja */
    width: 250px;            /* ancho de cada tarjeta */
    scroll-snap-align: start; /* cada item “snap” al inicio */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-item:hover {
    transform: scale(1.05);
}

/* Opcional: quitar scroll bar para que se vea limpio */
.carousel-wrapper::-webkit-scrollbar {
    display: none;
}







/** MEDIA QUERIES **/