:root {
    --base: #E7EFC7;
    --primario: #8A784E;
    --secundario: #AEC8A4;
    --terciario: #3B3B1A;
}

html {
    font-family: monospace;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--base);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



/**NAV BAR**/
.nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--secundario);
}

.nav-bar_a {
    text-decoration: none;
    color: var(--primario);
    font-size: 3rem;
    padding: 1rem 0;
}

.nav-bar_a:hover{
    color: var(--base);
}




/*SE TRABAJA CON MODELO COMPUTADORA. LAS MEDIA QUERIES SON PARA CELULAR Y TABLET*/










/** MEDIA QUERIES **/